@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 70px; /* Should match the navbar height */
}

.testimonials-swiper .swiper-pagination {
  bottom: -7px !important; 
}
.testimonials-swiper .swiper-pagination-bullet {
  background-color: #ffffff; 
  opacity: 0.5;
}
.testimonials-swiper .swiper-pagination-bullet-active {
  background-color: #ffffff; 
  opacity: 1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.demo-swiper {
  position: relative;
  padding-bottom: 60px !important;
}

.demo-swiper .swiper-pagination {
  bottom: 20px !important;
}